# Python virtual environment
env/
venv/

# Ansible local data
ansible/lib/collections/

# Backups
*backup*/
*.bak

# Caches and logs
__pycache__/
*.pyc
*.pyo
*.retry
*.log

# macOS system files
.DS_Store

# Editor and OS stuff
.idea/
.vscode/
*.swp
